<% include header %>
<% include nav %>

<div class="container">
    <div class="btn-group">
      <a href="/" class="btn btn-danger">新建投票项目</a>
      <a href="/list" class="btn btn-danger">投票项目列表</a>
    </div>
    
</div>

<% include footer %>